  .example-spacer {
      flex: 1 1 auto;
    }

  mat-card{
    cursor: pointer;
  }
  
  .mat-progress{
    visibility: hidden;
  }

  .mat-progress-hover{
    visibility: visible;
  }

  .espacio{
    margin-top: 8px;
    margin-bottom: 12px;
  }

  .demo-table {
    width: 100%;
}

.example-card{
  margin-top: 4em;
  max-width: 400px;
  margin-bottom: 4em;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #999;
}

.example-card-dialog{
  border-radius: 15px;
  box-shadow: 2px 2px 5px #999;
}

.example-full-width {
  width: 50%;
}
