<mat-toolbar *ngIf="isAuthenticated == true" color="primary">
    <span>E-Vine</span>
    <span class="example-spacer"></span>
    <button mat-icon-button matTooltip="Home" (click)="Home()"><mat-icon>home</mat-icon></button>
    <button mat-icon-button matTooltip="Ordenes" (click)="openOrden()"><mat-icon>list_alt</mat-icon></button>    
    <button *ngIf="isAdmin() === 'true'" mat-icon-button matTooltip="Productos" (click)="openProducto()"><mat-icon>inventory_2</mat-icon></button>
    <button *ngIf="isAdmin() === 'true'" mat-icon-button matTooltip="Tipo de Vino" (click)="openDialog()"><mat-icon>category</mat-icon></button>    
    <span class="example-spacer"></span>
    <button mat-icon-button matTooltip="Carrito" (click)="Carrito()">
        <mat-icon *ngIf="notificacion" matBadge="+1" matBadgeColor="warn">
            shopping_cart
        </mat-icon>
        <mat-icon *ngIf="!notificacion">
            shopping_cart
        </mat-icon>
    </button>
    <button mat-button matTooltip="Cuenta" [matMenuTriggerFor]="menu"><mat-icon>person_pin</mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item matTooltip="Profile" (click)="Profile()"><mat-icon>manage_accounts</mat-icon>Ajustes</button>
        <button mat-menu-item (click)="Logout()"><mat-icon>logout</mat-icon>Cerrar Sesion</button>
    </mat-menu>
</mat-toolbar>

<div class="container" *ngIf="isAuthenticated && carrito == false && profile == false">
    <div class="row mt-4">
        <h1>Lista de Vinos</h1>
        <mat-form-field>
          <mat-label>Nombre de Vino</mat-label>
          <input matInput type="text" [formControl]="search" (keydown.enter)="ObtenerVino()" placeholder="Chaparro" autocomplete="off">
        </mat-form-field>
    </div>

    <div class="row mt-4">
        <div class="col-3" *ngFor="let p of productos" (mouseover)="ChangeAnimation(true, p._id)" (mouseleave)="ChangeAnimation(false, p._id)">
            <mat-card class="mb-4">
                <mat-card-header>
                    <mat-card-subtitle>{{p.categoria?.nombre}}</mat-card-subtitle>
                    <mat-card-title>{{p.nombre}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image [src]="p.imagen" alt="" style="max-height: 200px;">
                <mat-card-content>
                    <p><b>Cosecha:</b> {{p.cosecha}}</p>
                    <p><b>Stock:</b> {{p.stock}} </p>
                    <p><b>Precio:</b> ${{p.precio.toFixed(2)}} USD</p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
                <mat-card-actions>
                  <button mat-stroked-button color="primary" style="left: 70px;top: 10px;" (click)="openDialogProducto(p)" [disabled]="p.stock <= 0"><mat-icon>receipt_long</mat-icon> Ver Producto</button>
                </mat-card-actions>
                <mat-card-footer>
                  <mat-progress-bar class="mat-progress" id="{{p._id}}" [mode]="mode"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>

<app-carrito *ngIf="isAuthenticated && carrito == true"></app-carrito>
<app-profile *ngIf="isAuthenticated && profile == true"></app-profile>
