<mat-card>
  <div class="row">
    <h2><b>Mi compra E-Vine</b></h2>
    <div class="col-lg-3">      
      <mat-card class="example-card compra">
        <mat-card-header>
          <mat-card-title>Total: ${{total.toFixed(2)}} USD</mat-card-title>
          <mat-card-subtitle>Realizar Pago:</mat-card-subtitle>    
        </mat-card-header>        
        <mat-divider></mat-divider>        
        <br>
        <mat-card-content>
          <div id="paypal"></div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary" (click)="Cancelar()">Cancelar</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-lg-9">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- producto Column -->
        <ng-container matColumnDef="producto">
          <th mat-header-cell *matHeaderCellDef> Nombre Producto </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
      
        <!-- precio Column -->
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef> Precio/Unidad </th>
          <td mat-cell *matCellDef="let element"> ${{element.precio.toFixed(2)}} USD c/u </td>
        </ng-container>
      
        <!-- cantidad Column -->
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
        </ng-container>
      
        <!-- subtotal Column -->
        <ng-container matColumnDef="subtotal">
          <th mat-header-cell *matHeaderCellDef> Sub Total </th>
          <td mat-cell *matCellDef="let element"> ${{element.subtotal.toFixed(2)}} USD</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</mat-card>