<section id="cart" class="seccion1">
    <table width="100%">
        <thead>
            <tr>
                <td><h3>Carrito</h3></td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><a href=""></a><i class="far fa-times-circle"></i></td>
                <td><img src="https://www.eluniverso.com/resizer/FQTn_S0u5p2TSs91xcdzD4RtbA0=/670x670/smart/filters:quality(70)/cloudfront-us-east-1.images.arcpublishing.com/eluniverso/XDGK7HWRXJGOLBKCXOLWOGNWFE.jpg" alt=""></td>
                <td>Vinito bien juerte</td>
                <td>$40</td>
                <td>
                    <div id="masmenos" >
                        <button>+</button><input type="number" value="1" min="1" step="1"><button>-</button>
                    </div>
                </td>
                <td>$40</td>
                <td><a href=""></a><i class="far fa-times-circle"></i></td>
            </tr>

            <tr>
                <td><a href=""></a><i class="far fa-times-circle"></i></td>
                <td><img src="https://www.eluniverso.com/resizer/FQTn_S0u5p2TSs91xcdzD4RtbA0=/670x670/smart/filters:quality(70)/cloudfront-us-east-1.images.arcpublishing.com/eluniverso/XDGK7HWRXJGOLBKCXOLWOGNWFE.jpg" alt=""></td>
                <td>Vinito</td>
                <td>$80</td>
                <td><input type="number" value="1"></td>
                <td>$80</td>
            </tr>

            <tr>
                <td><a href=""></a><i class="far fa-times-circle"></i></td>
                <td><img src="https://www.guiarepsol.com/content/dam/repsol-guia/contenidos-imagenes/comer/vinos-y-bodegas/como-ser-un-experto-en-vinos/gr-cms-media-featured_images-none-66f38457-ac58-44fc-bd38-c4ec61782fd9-1.jpg" alt=""></td>
                <td>Vino finoli</td>
                <td>$150</td>
                <td><input type="number" value="1"></td>
                <td>$150</td>
            </tr>
        </tbody>
    </table>
</section>

<section id="Subtotals" class="seccion1">
    <div id="cupon">
        <h3>Cupon</h3>
        <div>
            <input type placeholder="Escribe el codigo de tu cupon">
            <button class="normal">Aplicar</button>
        </div>
    </div>

    <div id="Subtotales">
        <h3>Total</h3>
        <table>
            <tr>
                <td>Subtotal</td>
                <td>&dollar; 30</td>
            </tr>
            <tr>
                <td>Envio</td>
                <td>Gratis</td>
            </tr>

            <tr>
                <td><strong>Total</strong></td>
                <td><strong>&dollar; 300</strong></td>
            </tr>
        </table>
        <button type="button" class="seccion1">Continuar</button>
    </div>

   
</section>


