table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;    
}
.mat-card{
margin-left: auto;
margin-right: auto;
width: 85%;
margin-top: 50px;  

}

.mat-column-producto {
    padding-left: 16px;
    font-size: 15px;

  }

.mat-column-unitario {
    padding-left: 16px;
    font-size: 15px;
    text-align: center;
  }
  
  .mat-column-cantidad {
    padding-left: 16px;
    font-size: 15px;
    text-align: center;
  }
  
  .mat-column-subtotal {
    text-align: center;
    padding-left: 16px;
    font-size: 15px;
  }

  .example-card {
    max-width: 400px;
  }

  .compra {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: px; 
    height: 202px;  
    width: 290px;
 
}
