.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .borde{
    margin-bottom: 1px;
    border-left: 1px solid #6f42c1;
    border-right: 1px solid #6f42c1;
    border-top: 1px solid #6f42c1;
    border-bottom: 1px solid #6f42c1;
  }

  .espacio{
    margin-top: 8px;
    margin-bottom: 12px;
  }
mat-header-cell {
  padding: 3%;
  align-items: center !important;
}

mat-cell {
    padding: 3%;
    align-items: center !important;
}


.mat-column-nombre {
  flex: none;
  font-size: 18px;
  width: 175px;
}

.mat-column-descripcion {
  flex: none;
  font-size: 18px;
  width: 300px;
}

.mat-column-Acciones {
  flex: none;
  font-size: 18px;
  width: 200px;
}

mat-raised-button{
  padding-left: 10%;
}

mat-form-field{
  width: 100%;
  display: block;
}
