<div mat-dialog-content>    
    <div class="login">
        <mat-card-title class="text-primary espacio">Tipos de Vino</mat-card-title>
        <br>
        <mat-card *ngIf="!loading" class="example-card cajaSession borde">            
            <mat-card-header >                
                </mat-card-header>
                <mat-card-content>           
                    <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                        <mat-tab label="Listado">                            
                            <div>
                                <mat-table [dataSource]="dataSource" matSort>
                                    
                                    <!-- Nombre Column -->
                                    <ng-container matColumnDef="nombre" >
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
                                    </ng-container>
                                
                                    <!-- Descripcion Column -->
                                    <ng-container matColumnDef="descripcion">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.descripcion}} </mat-cell>
                                    </ng-container>
                                
                                    <!-- Aciones Column -->
                                    <ng-container matColumnDef="Acciones">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header class="w-100"> Acciones </mat-header-cell>
                                        <mat-cell *matCellDef="let row" text-align:center>
                                        <button mat-mini-fab color="warn" (click)="eliminarCategoria(row)"><mat-icon>delete</mat-icon></button>
                                        <button mat-button color="accent" (click)="onRowClicked(row)"><mat-icon>update</mat-icon></button>
                                        </mat-cell>
                                    </ng-container>
                                
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                                    </mat-row>
                                    </mat-table>
                            </div>
                                                      
                        </mat-tab>
                        <mat-tab label="Agregar Nuevo">
                        <br>
                        <div class="parent">
                            <form [formGroup]="categoriaForm" (ngSubmit)="registrarCategoria()">
                                <mat-form-field class="fill" appearance="fill">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput formControlName="Nombre">
                                </mat-form-field>
                                <br>
                                <mat-form-field class="fill" appearance="fill">
                                    <mat-label>Descripcion</mat-label>
                                    <input matInput placeholder="El Vino Tinto se produce..." formControlName="Descripcion">
                                </mat-form-field>
                                <br>
                                <button type="submit" style="left: 40px;" mat-stroked-button color="primary" [disabled]="categoriaForm.invalid"><mat-icon>save</mat-icon>Guardar</button>
                            </form> 
                        </div>                           
                        </mat-tab>

                        <mat-tab label="Actualizar" *ngIf="actualizar">
                            <br>
                            <div class="parent">
                                <form [formGroup]="AcategoriaForm" (ngSubmit)="actualizarCategoria()">
                                    <mat-form-field class="fill" appearance="fill">
                                        <mat-label>Id</mat-label>
                                        <input matInput formControlName="_id" readonly="">
                                    </mat-form-field>
                                    <br>
                                    <mat-form-field class="fill" appearance="fill">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput formControlName="ANombre">
                                    </mat-form-field>
                                    <br>
                                    <mat-form-field class="fill" appearance="fill">
                                        <mat-label>Descripcion</mat-label>
                                        <input matInput placeholder="El Vino Tinto se produce..." formControlName="ADescripcion" required>
                                    </mat-form-field>
                                    <br>
                                    <button type="submit" mat-stroked-button color="primary"><mat-icon>update</mat-icon>Actualizar</button>
                                    <button mat-button (click)="this.selected.setValue(0)"><mat-icon>logout</mat-icon>Cancelar</button>
                                </form> 
                            </div>                           
                            </mat-tab>
                    </mat-tab-group>    
                </mat-card-content>  
        </mat-card>
    </div>
    
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()"><mat-icon>logout</mat-icon>Cancelar</button>
</div>