.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

mat-header-cell {
  padding: 3%;
  align-items: center !important;
}

mat-cell {
    padding: 3%;
    align-items: center !important;
}


.mat-column-nombre {
  flex: none;
  width: 175px;
}

.mat-column-descripcion {
  flex: none;
  width: 300px;
}

.mat-column-acciones {
  flex: none;
  width: 200px;
}

mat-raised-button{
  padding-left: 10%;
}

mat-form-field{
  width: 100%;
  display: block;
}
