<div class="login mt-5 pb-5 ">
    <mat-spinner *ngIf="loading" class="spiner text-light " [color]="color" diameter="50"></mat-spinner>                
    <mat-card *ngIf="!loading" class="example-card cajaSession borde">
        <mat-card-header >
            <mat-card-title class="text-primary">Bienvenido a E-Vine</mat-card-title>
            </mat-card-header>
            <mat-card-content>           
                <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                    <mat-tab label="Iniciar Sesion">
                        <form [formGroup]="accessForm" (ngSubmit)="ingresar()">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label class="text-primary">Escribe tu Correo</mat-label>
                                <input matInput placeholder="pat@example.com" formControlName="Email" required>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label class="text-primary">Escriba su Contraseña</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="Clave">
                                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                            </mat-form-field>
                            <button mat-raised-button color="primary" [disabled]="accessForm.invalid">Ingresar</button>
                        </form>                            
                    </mat-tab>
                    <mat-tab label="Registrarse">
                        <form [formGroup]="usuarioForm" (ngSubmit)="registrar()">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label class="text-primary">Usuario</mat-label>
                                <input matInput formControlName="Usuario">
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label class="text-primary">Escribe tu Correo</mat-label>
                                <input matInput placeholder="pat@example.com" formControlName="Email" required>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label class="text-primary">Escribe tu Telefono</mat-label>
                                <input matInput placeholder="71412151" formControlName="Telefono" required>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label class="text-primary">Escriba su Contraseña</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="Clave">
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                            </mat-form-field>
                            <button type="submit" mat-raised-button color="primary" [disabled]="usuarioForm.invalid">Registrarse</button>
                        </form>                            
                    </mat-tab>
                </mat-tab-group>    
            </mat-card-content>  
    </mat-card>
</div>
