.example-card {
    max-width: 50%;
    align-items: center !important;
    margin: auto;
  }

section{
    overflow-x: auto;
    align-items: center !important;
    margin: auto;
}

mat-card-content{
  align-items: flex-end !important;
  margin: auto;
}

.borde{
  margin-bottom: 1px;
  border-left: 1px solid #6f42c1;
  border-right: 1px solid #6f42c1;
  border-top: 1px solid #6f42c1;
  border-bottom: 1px solid #6f42c1;
}

.espacio{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}