<section usuario>
  <mat-card class="example-card">
    <mat-tab-group [selectedIndex]="selected.value" mat-align-tabs="start" (selectedIndexChange)="selected.setValue($event)">
          <mat-tab label="Perfil">     
            <mat-card-content>
                <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-around center">
                  <br>
                    <div fxLayout="column">
                      <p>{{ usuario.usuario }}</p>
                        <p>Email: {{ usuario.email! }}</p>
                        <p>Telefono: {{ usuario.telefono }}</p>
                    </div>
                    <button mat-button color="accent" (click)="actualizaruser()"><mat-icon>update</mat-icon>Actualizar</button>
                  </div>
            </mat-card-content>
          </mat-tab>

          <mat-tab label="Actualizar" *ngIf="actualizar">     
            <form [formGroup]="usuarioForm" (ngSubmit)="actualizarUsuario()">
                <br>          
                <table class="example-full-width" cellspacing="0">
                  <tr>
                    <mat-form-field class="fill" appearance="fill">
                      <mat-label>Id</mat-label>
                      <input matInput formControlName="_id" readonly="">
                  </mat-form-field>
                  </tr>
                  <tr>
                  <td>
                <mat-form-field style="margin-right: 17px;" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="Usuario">
                </mat-form-field>    </td>                                          
                    <td><mat-form-field style="margin-right: 17px;" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="Email" type="text">
                    </mat-form-field>  
                    </td></tr>
                    <tr>
                    <td><mat-form-field style="margin-right: 17px;" appearance="fill">
                    <mat-label>Telefono</mat-label>
                    <input matInput type="number" formControlName="Telefono">
                    </mat-form-field></td>
                      <td>
                    <mat-form-field style="margin-right: 17px;" appearance="fill">
                      <mat-label>Escriba su Contraseña</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" formControlName="Clave">
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                  </mat-form-field>
                  </td>
                </tr>
              </table>                    
                <br>
            <div>              
                <button style="margin-left: 300px;" mat-stroked-button color="primary" [disabled]="usuarioForm.invalid"><mat-icon> save</mat-icon>Guardar</button>
            </div>
        </form>   
    </mat-tab>
    </mat-tab-group>
    </mat-card>
</section>